:root {
  --mx: 0.5rem; // basic inline margin/spacing
  --my: 1rem; // basic block margin/spacing

  --radius: 0.5rem;

  --ease: 0.6s ease 0.1s;

  // size of icons from test with API component
  --size: 1.5rem;
}

body {
  color: var(--text);
  background-color: var(--bg);
}
